.balance-container {
    box-shadow: 3px 3px 3px 3px gray;
    width: 400px;
    margin: auto;
}

.total {
    margin: auto;
    width: fit-content;
    height: 40px;
}

.total-number {
    font-weight: bold;
}

.total-income {
    color: green;
}

.total-expense {
    color: red;
}